on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Update data from API
    steps:
    - name: Clone this repo
      uses: actions/checkout@v2
    - name: Update data
      uses: ./.github/actions/data-update
    - name: Commit & Push
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "[AUTO] Update data."
        branch: "automation"
        file_pattern: "data/*.json"
