on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - name: Checkout private action repo
      uses: actions/checkout@v2
      with:
        repository: SilasBerger/gh-action-hello-world
        ref: v1
        token: ${{ secrets.GITHUB_TOKEN }}
        path: .github/actions/hello-world
    - name: Hello world action step
      id: hello
      uses: ./.github/actions/hello-world
      with:
        who-to-greet: 'Peter Parker'
    - name: Get the output time
      run: echo "The time of the greeting was ${{ steps.hello.outputs.time }}."
