on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - name: Clone this repo
      uses: actions/checkout@v2
    - name: Checkout private action repo
      uses: actions/checkout@v2
      with:
        repository: SilasBerger/gh-action-hello-world
        token: ${{ secrets.PRIVATE_ACTION_REPO_TOKEN }}
        path: .github/actions/hello-world
    - name: Hello world action step
      id: hello
      uses: ./.github/actions/hello-world
