on: [ workflow_dispatch ]

name: Manually triggered workflow on the automation branch

jobs:
  hello_job:
    name: Hello job
    runs-on: ubuntu-latest
    steps:
      - name: Print to console
        run: echo "Hello from the manually triggered workflow on the automation branch."