on:
  schedule: 
    - cron: "10 * * * *"

name: Scheduled workflow

jobs:
  hello_job:
    name: Hello job
    runs-on: ubuntu-latest
    steps:
      - name: Print to console
        run: echo "Hello from the scheduled workflow on the default (dev) branch."